In [1]:
buah = ['leci','mangga','apel','pisang','nanas']
print(buah)

['leci', 'mangga', 'apel', 'pisang', 'nanas']

In [2]:
print(buah[0])

leci

In [3]:
print(buah[3])

pisang

In [4]:
print(buah[-1])

nanas

In [5]:
print(buah[-2])

pisang

In [6]:
buah[1] = 'jeruk'
print(buah)

['leci', 'jeruk', 'apel', 'pisang', 'nanas']

In [7]:
print(buah[0:4])

['leci', 'jeruk', 'apel', 'pisang']

In [8]:
#tidak merubah list
print(buah)

['leci', 'jeruk', 'apel', 'pisang', 'nanas']

In [9]:
nama = ['meli','cece','halim']
nama.append('ana')
print(nama)

['meli', 'cece', 'halim', 'ana']

In [10]:
nama.insert(1,'tama')
print(nama)

['meli', 'tama', 'cece', 'halim', 'ana']

In [12]:
nama.remove('ana')
print(nama)

['meli', 'tama', 'cece', 'halim']

In [13]:
print('ana' in nama)

False

In [14]:
print('cece' in nama)

True

In [15]:
print(len(nama))

4

In [20]:
buah = ['leci','mangga','apel','pisang','nanas']
for jenis in buah :
    print(jenis)

leci
mangga
apel
pisang
nanas

In [21]:
i = 0
while i < len(buah) :
    print(buah[i])
    i+=2

leci
apel
nanas

In [23]:
angka = range(8)
print(angka)

range(0, 8)

In [24]:
for isi in angka :
    print(isi)

0
1
2
3
4
5
6
7

In [29]:
for isi in range(3,9):
    print(isi)

3
4
5
6
7
8

In [30]:
for isi in range(0,11,4) :
    print(isi)

0
4
8

In [32]:
data = [1,2,3,4,3,2,1]
terbesar = data[0]
for i in range(len(data)):
    if data[i] > terbesar:
        terbesar = data[i]
        print(terbesar)

2
3
4

In [33]:
data = [1,2,3,4,3,2,1]
terbesar = data[0]
for angka in data:
    if angka > terbesar:
        terbesar = angka
        print(terbesar)

2
3
4

In [34]:
angka = [1,3,5,4,2,6,7,5]
angka_unik = []
for anggota in angka:
    if anggota not in angka_unik:
        angka_unik.append(anggota)
        print(angka_unik)

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 4]
[1, 3, 5, 4, 2]
[1, 3, 5, 4, 2, 6]
[1, 3, 5, 4, 2, 6, 7]

In [36]:
matrik = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12]
]
print(matrik)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [37]:
matrik[2]

[7, 8, 9]

In [39]:
matrik[1][2]

6

In [40]:
matrik[1][2] = 90
print(matrik[1][2])

90

In [41]:
matrik

[[1, 2, 3], [4, 5, 90], [7, 8, 9], [10, 11, 12]]

In [42]:
for baris in matrik:
    print(baris)
    for kolom in baris:
        print(kolom)

[1, 2, 3]
1
2
3
[4, 5, 90]
4
5
90
[7, 8, 9]
7
8
9
[10, 11, 12]
10
11
12

In [43]:
angka = (1,2,3,3,4)

In [44]:
print(angka[0])

1

In [45]:
print(angka[1:4])

(2, 3, 3)

In [46]:
for isi in angka[1:4]:
    print(isi)

2
3
3

In [ ]:
angka[0] = 9

In [52]:
angka.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [53]:
angka.remove(5)

AttributeError: 'tuple' object has no attribute 'remove'

In [54]:
angka.count(1)

1

In [55]:
angka.index(3)

2

In [61]:
data_orang = {
    "nama" : "Halim Meliana Pratama"
    "umur" : 18
    "apakah_mahasiswa" : true
}

SyntaxError: invalid syntax (Temp/ipykernel_2440/1794672767.py, line 3)

In [ ]:
print(data_orang['nama'])

In [ ]:
print(data_orang['Nama'])

In [ ]:
print(data_orang.get('nama'))

In [ ]:
print(data_orang.get('Nama'))

In [ ]:
print(data_orang.get('tanggal_lahir'))

In [ ]:
print(data_orang.get('tanggal_lahir','13-05-20003'))

In [ ]:
print(data_orang)

In [ ]:
print(data_orang["tanggal_lahir"])

In [ ]:
data_orang['HP'] - '089654735647'

In [ ]:
print(data_orang["HP"])

In [ ]:
print(data_orang)

In [ ]:
angka = {
    "0" : "nol",
    "1" : "satu",
    "2" : "dua",
    "3" : "tiga",
    "4" : "empat",
    "5" : "lima",
    "6" : "enam",
    "7" : "tujuh",
    "8" : "delapan",
    "9" : "sembilan"
}

In [2]:
nomor_HP = input("Masukkan nomor HP kamu ")
nomor_angka = " "
for isi in nomor_HP:
    nomor_angka += angka.get(isi) + " "
print(nomor_angka)

Masukkan nomor HP kamu 0895421952929

NameError: name 'angka' is not defined

In [3]:
angka = {
    "0" : "nol",
    "1" : "satu",
    "2" : "dua",
    "3" : "tiga",
    "4" : "empat",
    "5" : "lima",
    "6" : "enam",
    "7" : "tujuh",
    "8" : "delapan",
    "9" : "sembilan"
}
nomor_HP = input("Masukkan nomor HP kamu ")
nomor_angka = " "
for isi in nomor_HP:
    nomor_angka += angka.get(isi) + " "
print(nomor_angka)

Masukkan nomor HP kamu 0895421952929
 nol delapan sembilan lima empat dua satu sembilan lima dua sembilan dua sembilan

In [ ]:
def full_nama(first_name,Last_name):
    print(f'Nama lengkapnya adalah {nama_depan}{nama_belakang}')

In [4]:
nama_depan = input('Nama depan kamu adalah ')
nama_belakang = input('Nama belakang kamu adalah ')
print(f'Nama lengkapnya adalah {nama_depan}{nama_belakang}')

Nama depan kamu adalah Halim Meliana
Nama belakang kamu adalah Pratama
Nama lengkapnya adalah Halim MelianaPratama

In [ ]:
def waktu_sampai(jarak,kecepatan):
    waktu = jarak/kecepatan
    print(waktu)

In [ ]:
def waktu_stempuh(jarak,kecepatan):
    waktu = jarak/kecepatan
    return waktu

In [ ]:
waktu_sampai (30,40)

In [ ]:
waktu_tempuh (30,40)

In [ ]:
a = waktu_sampai (50,30)
print(a)

In [ ]:
b = waktu_tempuh (50,30)
print(b)

In [ ]:
import numpy as np

In [ ]:
def luas_segitiga(alas,tinggi):
    luas = (1/2)*alas*tinggi
    return luas
def luas_lingkaran(jari_jari):
    luas = np.pi*(jari_jari**2)
    return luas
def luas_persegi(sisi):
    luas = sisi**2
    return luas
def luas_persegi_panjang(panjang,lebar):
    luas = panjang*lebar
    return luas

In [ ]:
jenis_bidang = input('Ketik jenis bidangnya ')
if jenis_bidang.upper() == 'SEGITIGA':
    alas = float(input('Berapa panjang alasnya? '))
    tinggi = float(input('Berapa tingginya? '))
    luas = luas_segitiga(alas,tinggi)
    print(f'Luas {jenis_bidang} adalah {luas}')
elif jenis_bidang.upper() == 'LINGKARAN':
    jari_jari = float(input('Berapa panjang jari-jarinya? '))
    luas = luas_lingkaran(jari_jari)
    print(f'Luas {jenis_bidang} adalah {luas}')
elif jenis_bidang.upper() == 'PERSEGI':
    sisi = float(input('Berapa panjang sisinya? '))
    luas = luas_persegi(sisi)
    print(f'Luas {jenis_bidang} adalah {luas}')
elif jenis_bidang.upper() == 'PERSEGI PANJANG':
    panjang = float(input('Berapa panjangnya? '))
    lebar = float(input('Berapa lebarnya? '))
    luas = luas_persegi_panjang(panjang,lebar)
    print(f'Luas {jenis_bidang} adalah {luas}')
else:
    print(f'maaf bidang {jenis_bidang} yang kamu masukkan tidak ada.' )
    print('pilihannya hanya ada SEGITIGA, LINGKARAN, PERSEGI, dan PERSEGI PANJANG. ')
    print('terimakasih')